layout {
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
    pane split_direction="vertical" { // first logical container
        // all these panes will be laid out vertically next to each other
        pane command="/opt/homebrew/bin/lazygit"
        pane split_direction="horizontal" { // second logical container
            // all these panes will be laid out horizontally next to each other
            pane
            pane
        }
    }
}
