layout {
    tab name="Tab #1" hide_floating_panes=true {
        pane split_direction="vertical" { // first logical container
            // all these panes will be laid out vertically next to each other
            pane focus=true
            pane
        }
        floating_panes {
            pane command="/opt/homebrew/bin/lazygit" start_suspended=true {
                x "10%"
                y "10%"
                width "80%"
                height "80%"
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar" {
                tooltip "F1"
            }
        }
    }
}
